# Java
build
.gradle

# ide file
#.idea
.idea/*
!.idea/codeStyles/
!.idea/codeStyles/**
*.iml

.DS_Store
**/test-reports/

# Local configuration
/nhais/nhais-env.yaml

.classpath
.project
.settings/
.vscode/
bin/
/out/
/test-scripts/export-env-vars.sh
