# Java
build
.gradle

# ide file
.idea
*.iml

.DS_Store
**/test-reports/

# Local configuration
/nhais/nhais-env.yaml
nhais-env.yaml

.classpath
.project
.settings/
.vscode/
bin/
/out/
/test-scripts/export-env-vars.sh

fake_mesh_dir