version: '3'

services:
  nhais:
    image: local/nhais:${BUILD_TAG}
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    environment:
      - NHAIS_OUTBOUND_SERVER_PORT=80
      - NHAIS_LOG_LEVEL=NOTSET
      - NHAIS_OUTBOUND_MAX_RETRIES=100
      - NHAIS_OUTBOUND_RETRY_DELAY=3
      - NHAIS_OUTBOUND_QUEUE_BROKERS=amqp://rabbitmq:5672
      - NHAIS_OUTBOUND_QUEUE_NAME=nhais_outbound
      - NHAIS_INBOUND_QUEUE_BROKERS=amqp://localhost:5672
      - NHAIS_INBOUND_QUEUE_NAME=nhais_inbound
      - NHAIS_INBOUND_ADDRESS=http://localhost:443
      - NHAIS_SUPPLIER_QUEUE_BROKERS=amqp://localhost:5672
      - NHAIS_SUPPLIER_QUEUE_NAME=nhais_supplier
      - NHAIS_SUPPLIER_ADDRESS=http://localhost:443
      - NHAIS_DB_ENDPOINT_URL=http://dynamodb:8000
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
  dynamodb:
    image: local/dynamodb-nhais:${BUILD_TAG}
    build:
      context: .
      dockerfile: Dockerfile.dynamodb
    ports:
      - "8000:8000"
  rabbitmq:
    image: nhsdev/nia-rabbitmq-local:1.0.1
    ports:
      - "15672:15672"
      - "5672:5672"
    hostname: "localhost"
  nhais-tests:
    image: local/nhais-tests:${BUILD_TAG}
    build:
      context: .
      dockerfile: Dockerfile.tests
    environment:
      - NHAIS_OUTBOUND_ADDRESS=http://nhais
      - NHAIS_LOG_LEVEL=NOTSET
      - NHAIS_OUTBOUND_MAX_RETRIES=100
      - NHAIS_OUTBOUND_RETRY_DELAY=3
      - NHAIS_OUTBOUND_QUEUE_BROKERS=amqp://rabbitmq:5672
      - NHAIS_OUTBOUND_QUEUE_NAME=nhais_outbound
      - NHAIS_INBOUND_QUEUE_BROKERS=amqp://localhost:5672
      - NHAIS_INBOUND_QUEUE_NAME=nhais_inbound
      - NHAIS_INBOUND_ADDRESS=http://localhost:443
      - NHAIS_SUPPLIER_QUEUE_BROKERS=amqp://localhost:5672
      - NHAIS_SUPPLIER_QUEUE_NAME=nhais_supplier
      - NHAIS_SUPPLIER_ADDRESS=http://localhost:443
      - NHAIS_DB_ENDPOINT_URL=http://dynamodb:8000
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test