[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "~=4.5"
requests = "~=2.23"
unittest-xml-reporting = "~=2.5"

[packages]
tornado = "~=6.0"
integration-adaptors-common = {editable = true,git = "https://git@github.com/nhsconnect/integration-adaptor-common.git",tag = '0.1.10'}
fhir-resources = "~=5.1"
aioboto3 = "~=8.0"

[requires]
python_version = "3.7"

[scripts]
unittests = 'python -m xmlrunner discover -o test-reports -p "test_*" -v'
unittests-cov = 'coverage run -m xmlrunner discover -o test-reports -p "test_*" -v'
coverage-report = 'coverage report'
coverage-report-xml = 'coverage xml'
coverage-report-html = 'coverage html'
inttests = 'python -m xmlrunner discover -o test-reports -p "int_*" -v'
componenttests = 'python -m xmlrunner discover -o test-reports -p "component_*" -v'
start = "python main.py"
#unittests = 'python -m xmlrunner -o test-reports -v'
#unittests-cov = 'coverage run -m xmlrunner -o test-reports -v'
